doctype html
html
	head
		link(rel='stylesheet' href='styles/blog.css')
		script(src='https://code.jquery.com/jquery-2.2.0.js')
		script(src='js/blog.js')
	body
		h2 Nice to meet you, #{nameUser}!
		

