doctype html
html
	head
		link(rel='stylesheet' href='styles/profile.css')
		script(src='https://code.jquery.com/jquery-2.2.0.js')
		script(src='js/profile.js')
	body
		div(id='createpost')
		form
			h3 Create a new post:
			p(id='error')=bloem
			label Title
			br
			input(id='title' class='message' type='text' name='newTitle' placeholder='title of your post')
			br
			br
			label Text
			br
			textarea(id='text' class='message text' type='text' name='newText' placeholder='write your message')
			br
			br
			p(id="post") Post							
		div(id='wall' class='vak')
			ul
				li(id='list') hoi
		div(id='wall2' class='vak')
			ul
				li(id='list2') hallo
		div(id='logout')
			p(id='user') #{nameUser}
			a(href='/logout') logout

		

