doctype html
html
	head
		link(rel='stylesheet' href='styles/welcome.css')
		link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Advent+Pro:300' rel='stylesheet' type='text/css')
		script(src='https://code.jquery.com/jquery-2.2.0.js')
		script(src='js/welcome.js')
	body
		div(id='wrapper')
			div(id='logout')
				p(id='user') #{nameUser}
				a(href='/logout') logout
			h1(id='kop') #{nameUser}
			h2(id='welcomeback') welcome back
			