* {
	box-sizing: border-box;
}

html, body { 
   background-color: #FFFFFF;
   height:  92%;
   margin:  0px auto;
   padding: 0px auto;
 }

#wrapper {
	height: auto;
	min-height: 100%;
	margin: 3em;
	padding: 2em;
    border: solid #9D90C4 1px;
    border-radius: 10px;
}

#logout {
	border: 2px #F5C25E solid;
	border-radius: 10px;
	padding: 1em;
	width: 10%;
	float: right;
	text-align: center;
}

#user {
	margin: 0px;
}

.div{
	border: 2px #F5C25E solid;
	border-radius: 10px;
	width: 25%;
	min-height: 400px;
	padding: 2em;
	margin-top: 1.5em;
	margin-left: 1.5em;
	margin-right: 1em;
	margin-bottom: 1em;
	float: left;
	font-family: 'Advent Pro', sans-serif;
	font-size: 120%;
}

#post {
	background-color: white;
	cursor: pointer;
	font-family: 'Advent Pro', sans-serif;
	font-size: 120%;
	border: 1px #F5C25E solid;
	border-radius: 10px;
	padding: 0.5em;
	width: 2.7em;
}

#post:hover{
	background-color: #F5C25E;
}

/*.message {
	width: 190px;
	padding: 0.5em;
	border-radius: 5px;
	border: 1px solid black;
}

.text {
	height: 150px;
}
